player-connection-mode=Listen
player-connection-guid=3950704546
player-connection-debug=0
player-connection-project-name=Project_2
player-connection-ip=192.168.56.1
player-connection-ip=192.168.0.171
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=f7f65c34b6234fa2b58c36e26b2c1866
